<%- layout('layouts/main') %>
<style>
     body {
         background-color: #f5f5f5;
         
         font-family: 'Arial, sans-serif';
        }
</style>


<div class="container">
    
    <h1 class="mt-5" style="padding-top: 100px; color: #8db2d1;">Manual de Ayuda</h1>
    <h2 class="mt-4">1. Introducción a la Aplicación</h2>
    <p>¡Bienvenido al manual de ayuda de nuestra aplicación de estacionamiento! Nuestra aplicación está diseñada para ayudarte a encontrar y reservar fácilmente plazas de aparcamiento en tu área.</p>

    <h2 class="mt-4">2. Registro y Inicio de Sesión</h2>
    <p>Para comenzar a utilizar la aplicación, primero debes registrarte creando una cuenta. Ve a la página de registro y completa el formulario con tu información personal. Una vez registrado, puedes iniciar sesión en tu cuenta utilizando tu correo electrónico y contraseña.</p>

    <h2 class="mt-4">3. Navegación y Diseño de la Interfaz de Usuario</h2>
    <p>Nuestra aplicación cuenta con una interfaz de usuario intuitiva y fácil de navegar. En la parte superior de la pantalla, encontrarás la barra de navegación con accesos directos a las diferentes secciones de la aplicación como el inicio de sesión, la información acerca de los miembros que componen MADPARK, etc.</p>

    <h2 class="mt-4">4. Funcionalidades Principales</h2>
    <p>Algunas de las funcionalidades principales de nuestra aplicación incluyen:</p>
    <ul>
        <li>Búsqueda de aparcamientos disponibles por ubicación</li>
        <li>Reserva de plazas de aparcamiento en tiempo real.</li>
        <li>Visualización de información detallada sobre los aparcamientos, incluyendo disponibilidad y ubicación.</li>
        <!-- Agrega más funcionalidades según sea necesario -->
    </ul>

    <h2 class="mt-4">5. Cómo Realizar Acciones Específicas</h2>
    <p>Para realizar acciones específicas dentro de la aplicación, sigue estos pasos:</p>
    <ol>
        <li>Inicia sesión en tu cuenta si aún no lo has hecho.</li>
        <li>Navega a la sección correspondiente en la barra de navegación (por ejemplo, "Buscar Aparcamientos").</li>
        <li>Completa los campos requeridos en el formulario de búsqueda.</li>
        <li>Explora los resultados de la búsqueda y selecciona la plaza de aparcamiento que desees reservar.</li>
        <li>Confirma tu reserva.</li>
        <li>Desde "Mi Perfil" podrás ver el historial de reservas realizadas.</li>
        
    </ol>

    <h2 class="mt-4">7. Preguntas Frecuentes (FAQs)</h2>
    <p>Consulta nuestra sección de <a href="/faqs">Preguntas Frecuentes (FAQs)</a> para obtener respuestas a las preguntas más comunes sobre nuestra aplicación y su funcionamiento.</p>

    <h2 class="mt-4">8. Información de Contacto y Soporte</h2>
    <p>Si tienes alguna pregunta o necesitas ayuda adicional, no dudes en ponerte en contacto con nuestro equipo de soporte a través de nuestro formulario de contacto o enviando un correo electrónico a support@madpark.com.</p>
</div>
