<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Nodejs Passport Local</title>
  <link rel="stylesheet" href="https://bootswatch.com/5/materia/bootstrap.min.css">
  
</head>
<body>
  
  <!-- Barra de Navegación -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #073d5c;">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="/images/MADPARK.png" alt="LogOOOO" height="55" class="rounded-circle"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <% if (user){ %>
            <li class="nav-item">
              <a class="nav-link" href="/inicio" style="color: #ffffff;">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/conocenos" style="color: #ffffff;">Conocenos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/mapa" style="color:#ffffff;;">Mapa</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile" style="color: #ffffff;;">Perfil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout" style="color:#ffffff;">Salir</a>
            </li>
          <% } else { %>
            <li class="nav-item">
              <a class="nav-link" href="/inicio" style="color: #ffffff;">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/conocenos" style="color:#ffffff;">Conocenos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/mapa" style="color: #ffffff;">Mapa</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signin" style="color:#ffffff;">Iniciar sesión</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signup" style="color: #ffffff;">Registrarse</a>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <% if (signinMessage.length > 0) { %>
      <div class="alert alert-danger" role="alert">
        <%= signinMessage %>
      </div>
    <% } %>
  
    <% if (signupMessage.length > 0) { %>
      <div class="alert alert-danger" role="alert">
        <%= signupMessage %>
      </div>
    <% } %>
  
    <%- body %>
  </div>
</body>
</html>
